<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479918453282-7gqdk4ihb4jbd5ckr0vc5qgdd6elm539.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479918453282-7gqdk4ihb4jbd5ckr0vc5qgdd6elm539</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ7v1blaDTdkQC4MvMDtqq7hK5cEnz7Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>479918453282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rocsit</string>
	<key>PROJECT_ID</key>
	<string>rocsit-f248a</string>
	<key>STORAGE_BUCKET</key>
	<string>rocsit-f248a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479918453282:ios:d7797e09dd91492545907b</string>
</dict>
</plist>